h1 {
    text-align:center;
background-color:#005502;
border-style:solid;
border-width:2px;
border-color:#CCFFBB;
}
body {
background-color:#CCFFBB;
font-size:30;
}

a {
float:right;
text-decoration:none;
}
